body {
  background-color: #121213;
  color: white;
}

#root {
  margin: 0 auto;
  text-align: center;

}

.navBarStyleOverwrite {
  background-color: #347FC4;
  margin-bottom: 10px;
}

.playButton {
  width: 20vw;
  font-size: 8vw;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2vw;
}

.manualButton {
  width: 11vw;
  font-size: 2vw;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1vw
}

.card {
  padding: 2em;
  margin: 2em;
  height: 300px;
  width: 500px;
  justify-content: center;
}


.bigButton {
  width: 85%;
  height: 23%;
  margin-bottom: 5px;
  border: 2px solid black;
}

button:active {
  transform: scale(0.98);
}

.triage-0 {
  background-color: green;
  color: black;
}

.triage-1 {
  background-color: yellow;
  color: black;
}

.triage-2 {
  background-color: red;
  color: black;
}

.warningTimer {
  color: #CD1717
}

/* Style for the h1 element */
.manual-h1 {
  text-align: center;
  color: purple;
}

/* Style for the h2 element */
.manual-h2{
  font-size: 24px;
  margin-bottom: 10px;
}

/* Style for the table */
.manual-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}


/* Style for table data cells */
td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.card-effect {
  border: 4px solid #347FC4; 
  animation: borderShine 2s infinite;
}

.dev-link {
  text-decoration: none;
}

@keyframes borderShine {
  0% {
    border-color: #24dd8d;
  }
  50% {
    border-color: #ffc907; 
  }
  100% {
    border-color: #347FC4;
  }
}





