#root {
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}


.triage-0 {
  background-color: green;
  color: black;
}

.triage-1 {
  background-color: yellow;
  color: black;
}

.triage-2 {
  background-color: red;
  color: black;
}