/* Style for the h1 element */
h1 {
    text-align: center;
    color: white;
  }
  
  /* Style for the h2 element */
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Style for the table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Style for table header cells */
  th {
    background-color: #800080;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Style for table data cells */
  td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Style for selected color */
  .selected-color {
    background-color: #ffcc00; /* Change this to your desired color */
  }
  